<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="Regression_Test_Suite">
  <test name="MAGIC">
   <classes>
  		
  		<class name="com.alticor.magic.test.MAGIC_AwardBoard">
  		<methods>
  				<include name="test"></include>
  			</methods>
  		</class>
  		
  		<class name="com.alticor.magic.test.MAGIC_BaselineRerun">
  		<methods>
  				<include name="test"></include>
  			</methods>
  		</class>
  		
  		<class name="com.alticor.magic.test.MAGIC_BatchProcessing">
  		<methods>
  				<include name="test"></include>
  			</methods>
  		</class>
  		
  		<class name="com.alticor.magic.test.MAGIC_BatchSearch">
  		<methods>
  				<include name="test"></include>
  			</methods>
  		</class>
  		
  		<class name="com.alticor.magic.test.MAGIC_BusinessEntity">
  		<methods>
  				<include name="test"></include>
  			</methods>
  		</class>
  		
  			<class name="com.alticor.magic.test.MAGIC_BusOwnerAttributeLinks">
  		<methods>
  				<include name="test"></include>
  			</methods>
  		</class>
  		
  		<class name="com.alticor.magic.test.MAGIC_ChangeInMarket">
  		<methods>
  				<include name="test"></include>
  			</methods>
  		</class>
  		
  		<class name="com.alticor.magic.test.MAGIC_ILBAddress">
  		<methods>
  				<include name="test"></include>
  			</methods>
  		</class>
  		
  		
  		<class name="com.alticor.magic.test.MAGIC_IntlSponChange">
  		<methods>
  				<include name="test"></include>
  			</methods>
  		</class>
  		
  				<class name="com.alticor.magic.test.MAGIC_SecurityRoles">
  		       <methods>
  				<include name="test"></include>
  			</methods>
  		</class>
  		
  		<class name="com.alticor.magic.test.MAGIC_InvoiceInquiry">
  		       <methods>
  				<include name="test"></include>
  			</methods>
  		</class>
  		
    <class name="com.alticor.magic.test.MAGIC_LSReqd">
  		       <methods>
  				<include name="test"></include>
  			</methods>
  		</class>
  		
  		 <class name="com.alticor.magic.test.MAGIC_LTSSymbols">
  		       <methods>
  				<include name="test"></include>
  			</methods>
  		</class>
  		  		
  		  		 <class name="com.alticor.magic.test.MAGIC_LTSTRips">
  		       <methods>
  				<include name="test"></include>
  			</methods>
  		</class>
  		  		
  		  		<class name="com.alticor.magic.test.MAGIC_MassUploadInvalidABOs">
  		       <methods>
  				<include name="test"></include>
  			</methods>
  		</class>
  		  		
  		  		
  		  		<class name="com.alticor.magic.test.MAGIC_MBSponsor">
  		       <methods>
  				<include name="test"></include>
  			</methods>
  		</class>
  		
  		<class name="com.alticor.magic.test.MAGIC_OrangeLinks">
  		       <methods>
  				<include name="test"></include>
  			</methods>
  		</class>
  		
  		<class name="com.alticor.magic.test.MAGIC_SponAll ">
  		       <methods>
  				<include name="test"></include>
  			</methods>
  		</class>
  		
  		<class name="com.alticor.magic.test.MAGIC_SponsorChange">
  		       <methods>
  				<include name="test"></include>
  			</methods>
  		</class>
  		
  		<class name="com.alticor.magic.test.MAGIC_SponsorChangeNote">
  		       <methods>
  				<include name="test"></include>
  			</methods>
  		</class>
  		  		
  		  	<class name="com.alticor.magic.test.MAGIC_TransmitToRMS">
  		       <methods>
  				<include name="test"></include>
  			</methods>
  		</class>
  		  		
  		  		<class name="com.alticor.magic.test.MAGIC_Hierarchy">
  		       <methods>
  				<include name="test"></include>
  			</methods>
  		</class>
  		
  		 <class name="com.alticor.magic.test.MAGIC_MissingDetails">
  		       <methods>
  				<include name="test"></include>
  			</methods>
  		</class>
     
     <class name="com.alticor.magic.test.MAGIC_IBOPlainumDisplay">
  		<methods>
  				<include name="test"></include>
  			</methods>
  		</class>
  		
  		<class name="com.alticor.magic.test.MAGIC_AnnualBonusScreen">
  		<methods>
  				<include name="test"></include>
  			</methods>
  		</class>
  		
  		<class name="com.alticor.magic.test.MAGIC_IBOPlainumDisplay">
  		<methods>
  				<include name="test"></include>
  			</methods>
  		</class>
  		
  		<class name="com.alticor.magic.test.MAGIC_AnnualBonusScreen">
  		<methods>
  				<include name="test"></include>
  			</methods>
  		</class>
  		
  		</classes>
  		</test> 
  
  		
  		
</suite> <!-- Suite -->
